* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  gap: 10px;
}

.header-logo {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.header-logo img {
  height: 44px
}

.header :nth-child(2) {
  margin-left: auto;
}

.content {
  padding: 20px 20px;
}

.content > :only-child {
  max-width: 1000px;
  margin: auto;
}

.footer {
  text-align: center;
}

.float-button {
  bottom: 24px;
}

.playerControls {
  margin: 10px 0;
  width: 100%;
  flex-wrap: wrap;
}

.playerControls :last-child {
  margin-left: auto;
}

.recording {
  color: red;
  font-size: 50px;
  line-height: 100%;
  position: relative;
}

.recording::after {
  content: '';
  position: absolute;
  background: none;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: red 1px solid;
  animation: 600ms infinite alternate ease-in-out recordingAnimation;
}

@keyframes recordingAnimation {
  from {
    transform: translate(-50%,-50%);
  }

  to {
    transform: translate(-50%,-50%) scale(130%);
  }
}
